<div>
    <h2 id="page-heading">
        <span jhiTranslate="campaignManagerApp.sms.home.title">Sms</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sms" [routerLink]="['/sms/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="campaignManagerApp.sms.home.createLabel">
            Create new Sms
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="card"> <div class="card-body form-inline">
      <input class="form-control mr-3" type="text" id="field_destination" [(ngModel)]="searchModel.destination" placeholder="{{ 'campaignManagerApp.sms.destination' | translate }}"/>
      <input id="field_campaignId" type="text" class="form-control mr-3" [(ngModel)]="searchModel.campaign" [ngbTypeahead]="searchCampaign" [inputFormatter]="campaignName" [resultFormatter]="campaignName" placeholder="Campaign" />
      <div class="btn-group flex-btn-group-container">
        <button type="button" class="btn btn-sm btn-info" (click)="search()">
          <fa-icon [icon]="'search'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.search"> Search</span>
        </button>
        <button type="button" class="btn btn-sm btn-default" (click)="searchReset()">
          <fa-icon [icon]="'search'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.reset"> Reset</span>
        </button>
      </div>
    </div></div>

    <div class="table-responsive" *ngIf="sms">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="source"><span jhiTranslate="campaignManagerApp.sms.source">Source</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="destination"><span jhiTranslate="campaignManagerApp.sms.destination">Destination</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="state"><span jhiTranslate="campaignManagerApp.sms.state">State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="submitAt"><span jhiTranslate="campaignManagerApp.sms.submitAt">Submit At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shortMsg"><span jhiTranslate="campaignManagerApp.sms.shortMsg">Short Message</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <thead><tr>
              <th><input class="form-control" type="text" id="field_source" [(ngModel)]="searchModel.source" /></th>
              <th><input class="form-control" type="text" id="field_destination" [(ngModel)]="searchModel.destination" /></th>
              <th><input class="form-control" type="text" id="field_state" [(ngModel)]="searchModel.state" /></th>
              <th>
                <div class="input-group">
                  <input class="form-control" name="field_submitAtDate" [(ngModel)]="searchModel.submitAt" ngbDatepicker #submitAtDate="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="submitAtDate.toggle()" type="button">
                      <fa-icon icon="calendar"></fa-icon>
                    </button>
                  </div>
                </div>
              </th>
              <th><input class="form-control" type="text" id="field_shortMsg" [(ngModel)]="searchModel.shortMsg" /></th>
              <th class="text-right"><div class="btn-group flex-btn-group-container">
                <button type="button" class="btn btn-sm btn-info" (click)="search()">
                  <fa-icon [icon]="'search'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.search"> Search</span>
                </button>
                <button type="button" class="btn btn-sm btn-default" (click)="searchReset()">
                  <fa-icon [icon]="'reset'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.reset"> Reset</span>
                </button>
              </div></th>
            </tr></thead>
            <tbody>
            <tr *ngFor="let sms of sms ;trackBy: trackId">
                <td>{{sms.source}}</td>
                <td><a [routerLink]="['/sms', sms.id, 'view' ]">{{sms.destination}}</a></td>
                <td>{{ 'campaignManagerApp.sms.state_' + sms.state | translate }}</td>
                <td>{{sms.submitAt | date:'yyyy-MM-dd HH:mm:SS'}}</td>
                <td>{{sms.shortMsg}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sms', sms.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sms', sms.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sms/'+ sms.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="sms && sms.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
