<div>
    <h2 id="page-heading">
        <span jhiTranslate="campaignManagerApp.sms.home.title">Sms</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sms" [routerLink]="['/sms/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="campaignManagerApp.sms.home.createLabel">
            Create new Sms
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sms">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="source"><span jhiTranslate="campaignManagerApp.sms.source">Source</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="destination"><span jhiTranslate="campaignManagerApp.sms.destination">Destination</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="state"><span jhiTranslate="campaignManagerApp.sms.state">State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="campaignId"><span jhiTranslate="campaignManagerApp.sms.campaignId">Campaign Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cpId"><span jhiTranslate="campaignManagerApp.sms.cpId">Cp Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="spId"><span jhiTranslate="campaignManagerApp.sms.spId">Sp Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="spSvc"><span jhiTranslate="campaignManagerApp.sms.spSvc">Sp Svc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="submitAt"><span jhiTranslate="campaignManagerApp.sms.submitAt">Submit At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expiredAt"><span jhiTranslate="campaignManagerApp.sms.expiredAt">Expired At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="submitRequestPayload"><span jhiTranslate="campaignManagerApp.sms.submitRequestPayload">Submit Request Payload</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="submitResponsePayload"><span jhiTranslate="campaignManagerApp.sms.submitResponsePayload">Submit Response Payload</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deliveredAt"><span jhiTranslate="campaignManagerApp.sms.deliveredAt">Delivered At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deliveryReportPayload"><span jhiTranslate="campaignManagerApp.sms.deliveryReportPayload">Delivery Report Payload</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sms of sms ;trackBy: trackId">
                <td><a [routerLink]="['/sms', sms.id, 'view' ]">{{sms.id}}</a></td>
                <td>{{sms.source}}</td>
                <td>{{sms.destination}}</td>
                <td>{{sms.state}}</td>
                <td>{{sms.campaignId}}</td>
                <td>{{sms.cpId}}</td>
                <td>{{sms.spId}}</td>
                <td>{{sms.spSvc}}</td>
                <td>{{sms.submitAt | date:'medium'}}</td>
                <td>{{sms.expiredAt | date:'medium'}}</td>
                <td>{{sms.submitRequestPayload}}</td>
                <td>{{sms.submitResponsePayload}}</td>
                <td>{{sms.deliveredAt | date:'medium'}}</td>
                <td>{{sms.deliveryReportPayload}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sms', sms.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sms', sms.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sms/'+ sms.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="sms && sms.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
