<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dataFile">
            <h2><span jhiTranslate="campaignManagerApp.dataFile.detail.title">Data File</span> {{dataFile.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="campaignManagerApp.dataFile.name">Name</span></dt>
                <dd>
                    <span>{{dataFile.name}}</span>
                </dd>
                <dt><span jhiTranslate="campaignManagerApp.dataFile.tags">Tags</span></dt>
                <dd>
                    <span>{{dataFile.tags}}</span>
                </dd>
                <dt><span jhiTranslate="campaignManagerApp.dataFile.data">Data</span></dt>
                <dd>
                    <div *ngIf="dataFile.data">
                        <a (click)="openFile(dataFile.dataContentType, dataFile.data)" jhiTranslate="entity.action.open">open</a>
                        {{dataFile.dataContentType}}, {{byteSize(dataFile.data)}}
                    </div>
                </dd>
            </dl>

            <table class="table">
              <thead *ngIf="dataFile.dataCsvHeaders"><tr>
                <th *ngFor="let header of dataFile.dataCsvHeaders; let j = index">
                  {{ header }}
                </th>
              </tr></thead>
              <tbody *ngIf="csvData">
                <tr *ngFor="let i of csvData; let j=index">
                  <td *ngFor="let v of i">{{v}}</td>
                </tr>
              </tbody>
            </table>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/data-file', dataFile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
