
<jhi-alert-error></jhi-alert-error>
<div class="row justify-content-center">
    <div class="col-md-5"  *ngIf="campaign">
      <h2><small jhiTranslate="campaignManagerApp.campaign.detail.title">Campaign</small> {{campaign.name}}
      <sup class="badge badge-pill badge-{{ 'campaignManagerApp.campaign.stateClass_' + campaign.state | translate}}">{{ 'campaignManagerApp.campaign.state_' + campaign.state | translate}}</sup>
      </h2>
      <hr>
      <div class="card mt-3 mb-3" *ngIf="campaign.stats">
        <div class="card-header" jhiTranslate="campaignManagerApp.campaign.monitoring"></div>
        <div class="card-body"  *ngIf="campaign.stats.msgCnt">
          <p>{{campaign.startAt | date:'short'}} - {{campaign.expiredAt | date:'short'}}</p>
          <table class="table">
            <caption>Total: {{ campaign.stats.msgCnt | number }}</caption>
            <tr *ngIf="campaign.stats.submitCnt">
              <th>Submit</th>
              <td>{{ campaign.stats.submitCnt | number }}</td>
              <td><ngb-progressbar height="40px" showValue="true" type="info" [value]="round(campaign.stats.submitCnt, campaign.stats.msgCnt)"> {{campaign.stats.submitCnt}} / {{ campaign.stats.msgCnt }} </ngb-progressbar></td>
            </tr>
            <tr *ngIf="campaign.stats.successCnt">
              <th>Success</th>
              <td class="text-success">{{ campaign.stats.successCnt | number }}</td>
              <td><ngb-progressbar height="40px" showValue="true" type="success" [value]="round(campaign.stats.successCnt, campaign.stats.submitCnt)"> {{campaign.stats.successCnt}} / {{ campaign.stats.msgCnt }} </ngb-progressbar></td>
            </tr>
            <tr *ngIf="campaign.stats.failedCnt">
              <th>Failed</th>
              <td class="text-danger">{{ campaign.stats.failedCnt | number }}</td>
              <td><ngb-progressbar height="40px" showValue="true" type="warning" [value]="round(campaign.stats.failedCnt, campaign.stats.submitCnt)"> {{campaign.stats.failedCnt}} / {{ campaign.stats.msgCnt }} </ngb-progressbar></td>
            </tr>
          </table>
        </div>
      </div>
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <fa-icon [icon]="'bookmark'" [fixedWidth]="true"></fa-icon>
            {{ 'campaignManagerApp.campaign.tabs.basicInfo' | translate }}
          </ng-template>
          <ng-template ngbTabContent><div class="card mt-3 mb-3">
            <div class="card-header">{{ 'campaignManagerApp.campaign.tabs.basicInfo' | translate }}</div>
            <div class="card-body">
              <dl>
                <dt><span jhiTranslate="campaignManagerApp.campaign.name"  [ngbTooltip]="'campaignManagerApp.campaign.help.name' | translate">Name</span></dt>
                  <dd><span>{{ campaign.name }}</span></dd>
                <dt><span jhiTranslate="campaignManagerApp.campaign.code"  [ngbTooltip]="'campaignManagerApp.campaign.help.code' | translate">Code</span></dt>
                  <dd><span>{{ campaign.code }}</span></dd>
                <dt><span jhiTranslate="campaignManagerApp.campaign.state"  [ngbTooltip]="'campaignManagerApp.campaign.help.state' | translate">State</span></dt>
                  <dd><span>{{ campaign.state }}</span></dd>
                  <dt><span jhiTranslate="campaignManagerApp.campaign.startAt"  [ngbTooltip]="'campaignManagerApp.campaign.help.startAt' | translate">Start At</span></dt>
                    <dd><span>{{ campaign.startAt }}</span></dd>
                  <dt><span jhiTranslate="campaignManagerApp.campaign.expiredAt" >Expired At</span></dt>
                    <dd><span>{{ campaign.expiredAt }}</span></dd>
                <dt><span jhiTranslate="campaignManagerApp.campaign.cfg"  [ngbTooltip]="'campaignManagerApp.campaign.help.cfg' | translate">Configuration</span></dt>
                  <dd><pre><code>{{ campaign.cfg | json}}</code></pre></dd>
                <dt><span jhiTranslate="campaignManagerApp.campaign.shortMsg"  [ngbTooltip]="'campaignManagerApp.campaign.help.shortMsg' | translate">Short Msg</span></dt>
                  <dd><span>{{ campaign.shortMsg }}</span></dd>
                <dt><span jhiTranslate="campaignManagerApp.campaign.rateLimit"  [ngbTooltip]="'campaignManagerApp.campaign.help.rateLimit' | translate">Rate Limit</span></dt>
                  <dd><span>{{ campaign.rateLimit }}</span></dd>
            </dl>
            <div class="table-responsive" *ngIf="campaign.datafiles">
                <table class="table table-striped">
                  <caption jhiTranslate="campaignManagerApp.campaign.dataFiles"></caption>
                    <thead>
                    <tr>
                    <th><span jhiTranslate="campaignManagerApp.dataFile.name">Name</span></th>
                    <th><span jhiTranslate="campaignManagerApp.dataFile.tags">Tags</span></th>
                    <th><span jhiTranslate="campaignManagerApp.dataFile.dataCsvHeaders">Data CSV Headers</span></th>
                    <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let dataFile of campaign.datafiles">
                        <td>{{dataFile.name}}</td>
                        <td>{{dataFile.tags}}</td>
                        <td>{{dataFile.dataCsvHeaders}}</td>
                        <td *ngIf="dataFileService.checked[dataFile.id]">
                            <input type="checkbox" name="dataFile_checked_{{dataFile.id}}" id="dataFile_checked_{{dataFile.id}}"
                              class="form-check" [(ngModel)]="dataFileService.checked[dataFile.id].checked"
                              />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

          </div></div></ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <fa-icon [icon]="'clock'" [fixedWidth]="true"></fa-icon>
            {{ 'campaignManagerApp.campaign.tabs.schedule' | translate }}
          </ng-template>
          <ng-template ngbTabContent><div class="card mt-3 mb-3">
            <div class="card-header">{{ 'campaignManagerApp.campaign.tabs.schedule' | translate }}</div>
            <div class="card-body">
              <dl>
                <dt><span jhiTranslate="campaignManagerApp.campaign.channel"  [ngbTooltip]="'campaignManagerApp.campaign.help.channel' | translate">Channel</span></dt>
                  <dd><span>{{ campaign.channel }}</span></dd>
                <dt><span jhiTranslate="campaignManagerApp.campaign.workingHours" >Working Hours</span></dt>
                  <dd><span>{{ campaign.workingHours }}</span></dd>
                <dt><span jhiTranslate="campaignManagerApp.campaign.workingWeekdays" >Working Weekdays</span></dt>
                  <dd><span>{{ campaign.workingWeekdays }}</span></dd>
                <dt><span jhiTranslate="campaignManagerApp.campaign.holidays" >Holidays</span></dt>
                <dd><span>{{ campaign.holidays }}</span></dd>
              </dl>

          </div></div></ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <fa-icon [icon]="'file-alt'" [fixedWidth]="true"></fa-icon>
            {{ 'campaignManagerApp.campaign.tabs.dataSource' | translate }}
          </ng-template>
          <ng-template ngbTabContent><div class="card mt-3 mb-3">
            <div class="card-header">{{ 'campaignManagerApp.campaign.tabs.dataSource' | translate }}</div>
            <div class="card-body">

              <!-- Pager is not implemented yet, so this is normal pagination instead -->
              <div *ngIf="dataFileService.entities && dataFileService.entities.length">
                  <div class="row justify-content-center">
                      <jhi-item-count [page]="dataFileService.page" [total]="dataFileService.queryCount" [itemsPerPage]="dataFileService.itemsPerPage"></jhi-item-count>
                  </div>
                  <div class="row justify-content-center">
                      <ngb-pagination [collectionSize]="dataFileService.totalItems" [(page)]="dataFileService.page" [pageSize]="dataFileService.itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(dataFileService.page)"></ngb-pagination>
                  </div>
              </div>
            </ng-template>
    </ngb-tab>
  </ngb-tabset>


    </div>

    <div class="col-md-7">

      <div>
          <h3 class="float-right">
              <span jhiTranslate="campaignManagerApp.sms.home.title">Sms</span>
          </h3>
          <div class="btn-group">
              <button type="submit" (click)="changeState(2)"
                      class="btn btn-success btn-sm">
                  <fa-icon [icon]="'play-circle'" ></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="campaignManagerApp.campaign.action.play">Play</span>
              </button>
              <button type="submit" (click)="changeState(0)"
                      class="btn btn-warning btn-sm">
                  <fa-icon [icon]="'pause-circle'" ></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="campaignManagerApp.campaign.action.pause">Pause</span>
              </button>
              <button type="submit" (click)="changeState(-9)"
                      class="btn btn-danger btn-sm">
                  <fa-icon [icon]="'stop-circle'" ></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="campaignManagerApp.campaign.action.stop">Stop</span>
              </button>
              <button type="submit" (click)="changeState(1)"
                      class="btn btn-warning btn-sm">
                  <fa-icon [icon]="'check-circle'" ></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="campaignManagerApp.campaign.action.approve">Approve</span>
              </button>
          </div>
          <jhi-alert></jhi-alert>
          <div class="table-responsive mt-4" *ngIf="sms">
              <table class="table table-striped table-bordered">
                  <thead>
                  <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                  <th jhiSortBy="destination"><span jhiTranslate="campaignManagerApp.sms.destination">Destination</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                  <th jhiSortBy="state"><span jhiTranslate="campaignManagerApp.sms.state">State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                  <th jhiSortBy="submitAt"><span jhiTranslate="campaignManagerApp.sms.submitAt">Submit At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                  <th jhiSortBy="shortMsg"><span jhiTranslate="campaignManagerApp.sms.shortMsg">Short Message</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                  </tr>
                  </thead>
                  <thead><tr>
                    <th><input class="form-control" type="text" id="field_destination" [(ngModel)]="searchModel.destination" /></th>
                    <th><input class="form-control" type="text" id="field_state" [(ngModel)]="searchModel.state" /></th>
                    <th><input class="form-control" type="text" id="field_submitAt" [(ngModel)]="searchModel.submitAt" /></th>
                    <th><div class="btn-group flex-btn-group-container">
                      <button type="button" class="btn btn-sm btn-info" (click)="search()">
                        <fa-icon icon="search"></fa-icon>&nbsp;<span jhiTranslate="entity.action.search"> Search</span>
                      </button>
                      <button type="button" class="btn btn-sm btn-default" (click)="searchReset()">
                        <fa-icon icon="recycle"></fa-icon>&nbsp;<span jhiTranslate="entity.action.reset"> Reset</span>
                      </button>
                      <button type="button" class="btn btn-sm btn-success" (click)="exportResult()">
                        <fa-icon icon="export"></fa-icon>&nbsp;<span jhiTranslate="entity.action.export"> Export</span>
                      </button>
                    </div></th>
                  </tr></thead>
                  <tbody>
                  <tr *ngFor="let sms of sms ;trackBy: trackId">
                      <td><a [routerLink]="['/sms', sms.id, 'view' ]">{{sms.destination}}</a></td>
                      <td>{{ 'campaignManagerApp.sms.state_' + sms.state | translate }}</td>
                      <td>{{sms.submitAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                      <td>{{sms.shortMsg}}</td>
                  </tr>
                  </tbody>
              </table>
          </div>
          <!-- Pager is not implemented yet, so this is normal pagination instead -->
          <div *ngIf="sms && sms.length">
              <div class="row justify-content-center">
                  <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
              </div>
              <div class="row justify-content-center">
                  <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
              </div>
          </div>
      </div>
    </div>
</div>



<div class="card mt-3 mb-3" *ngIf="campaign.stats?.successStats && campaign.stats.successStats.length">
  <div class="card-header bg-success text-white" jhiTranslate="campaignManagerApp.campaign.stats.successStats"></div>
  <div class="card-body">
    <div class="table-responsive"><table class="table table-striped">
        <thead>
          <tr>
            <th><span jhiTranslate="campaignManagerApp.dataFile.name">Name</span></th>
            <th><span jhiTranslate="campaignManagerApp.dataFile.tags">Tags</span></th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let s of campaign.stats?.successStats">
            <td>{{s._id}}</td>
            <td>{{s.cnt}}</td>
        </tr>
        </tbody>
    </table></div>
  </div>
</div>

<div class="card mt-3 mb-3" *ngIf="campaign.stats?.failedStats && campaign.stats.failedStats.length">
  <div class="card-header bg-danger text-white" jhiTranslate="campaignManagerApp.campaign.stats.failedStats"></div>
  <div class="card-body">
    <div class="table-responsive"><table class="table table-striped">
        <thead>
          <tr>
            <th><span jhiTranslate="campaignManagerApp.dataFile.name">Name</span></th>
            <th><span jhiTranslate="campaignManagerApp.dataFile.tags">Tags</span></th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of campaign.stats.failedStats">
            <td>{{e._id}}</td>
            <td>{{e.cnt}}</td>
        </tr>
        </tbody>
    </table></div>
  </div>
</div>

<div class="card mt-3 mb-3" *ngIf="campaign.stats?.pendingStats && campaign.stats.pendingStats.length">
  <div class="card-header bg-info text-white" jhiTranslate="campaignManagerApp.campaign.stats.pendingStats"></div>
  <div class="card-body" *ngIf="campaign.stats?.pendingStats">
    <div class="table-responsive"><table class="table table-striped">
        <thead>
          <tr>
            <th><span jhiTranslate="campaignManagerApp.dataFile.name">Name</span></th>
            <th><span jhiTranslate="campaignManagerApp.dataFile.tags">Tags</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of campaign.stats.pendingStats" class="bg-light">
              <td>{{p._id}}</td>
              <td>{{p.cnt}}</td>
          </tr>
        </tbody>
    </table></div>
  </div>
</div>


<div class="row">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/campaign', campaign.id, 'edit']"
            class="btn btn-primary">
        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
