<div>
    <h2 id="page-heading">
        <span jhiTranslate="campaignManagerApp.campaign.home.title">Campaigns</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-campaign" [routerLink]="['/campaign/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="campaignManagerApp.campaign.home.createLabel">
            Create new Campaign
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="campaigns">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="name"><span jhiTranslate="campaignManagerApp.campaign.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="channel"><span jhiTranslate="campaignManagerApp.campaign.channel">Channel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="state"><span jhiTranslate="campaignManagerApp.campaign.state">State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shortCode"><span jhiTranslate="campaignManagerApp.campaign.shortCode">Short Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shortMsg"><span jhiTranslate="campaignManagerApp.campaign.shortMsg">Short Msg</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startAt"><span jhiTranslate="campaignManagerApp.campaign.startAt">Start At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expiredAt"><span jhiTranslate="campaignManagerApp.campaign.expiredAt">Expired At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campaign of campaigns ;trackBy: trackId">
                <td><a [routerLink]="['/campaign', campaign.id, 'view' ]">{{campaign.name}}</a></td>
                <td>{{campaign.channel}}</td>
                <td>{{campaign.state}}</td>
                <td>{{campaign.shortCode}}</td>
                <td>{{campaign.shortMsg}}</td>
                <td>{{campaign.startAt | date:'medium'}}</td>
                <td>{{campaign.expiredAt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/campaign', campaign.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/campaign', campaign.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/campaign', campaign.id, 'copy']"
                                class="btn btn-success btn-sm">
                            <fa-icon [icon]="'copy'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.copy">Copy</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campaign/'+ campaign.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="campaigns && campaigns.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
