<div class="row justify-content-center">
    <div class="col-md-6">
        <div *ngIf="vasCloudConfiguration">
            <h2><small jhiTranslate="campaignManagerApp.vasCloudConfiguration.detail.title">Vas Cloud Configuration</small> {{vasCloudConfiguration.serviceCode}} / {{vasCloudConfiguration.packageCode}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="campaignManagerApp.vasCloudConfiguration.endPoint">End Point</span></dt>
                <dd>
                    <span>{{vasCloudConfiguration.endPoint}}</span>
                </dd>
                <dt><span jhiTranslate="campaignManagerApp.vasCloudConfiguration.username">Username</span></dt>
                <dd>
                    <span>{{vasCloudConfiguration.username}}</span>
                </dd>
                <dt><span jhiTranslate="campaignManagerApp.vasCloudConfiguration.password">Password</span></dt>
                <dd>
                    <span>{{vasCloudConfiguration.password}}</span>
                </dd>
                <dt><span jhiTranslate="campaignManagerApp.vasCloudConfiguration.serviceCode">Service Code</span></dt>
                <dd>
                    <span>{{vasCloudConfiguration.serviceCode}}</span>
                </dd>
                <dt><span jhiTranslate="campaignManagerApp.vasCloudConfiguration.packageCode">Package Code</span></dt>
                <dd>
                    <span>{{vasCloudConfiguration.packageCode}}</span>
                </dd>
                <dt><span jhiTranslate="campaignManagerApp.vasCloudConfiguration.cpCode">Cp Code</span></dt>
                <dd>
                    <span>{{vasCloudConfiguration.cpCode}}</span>
                </dd>
                <dt><span jhiTranslate="campaignManagerApp.vasCloudConfiguration.cpCharge">Cp Charge</span></dt>
                <dd>
                    <span>{{vasCloudConfiguration.cpCharge}}</span>
                </dd>
                <dt><span jhiTranslate="campaignManagerApp.vasCloudConfiguration.serviceId">Service Id</span></dt>
                <dd>
                    <span>{{vasCloudConfiguration.serviceId}}</span>
                </dd>
                <dt><span jhiTranslate="campaignManagerApp.vasCloudConfiguration.shortCode">Short Code</span></dt>
                <dd>
                    <span>{{vasCloudConfiguration.shortCode}}</span>
                </dd>
                <dt><span jhiTranslate="campaignManagerApp.vasCloudConfiguration.rateLimit">Rate Limit</span></dt>
                <dd>
                    <span>{{vasCloudConfiguration.rateLimit}}</span>
                </dd>
            </dl>

        </div>
    </div><div class="col-md-6" *ngIf="sms">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
          <h3 id="jhi-sms-heading" jhiTranslate="campaignManagerApp.vasCloudConfiguration.action.testSms">Send a Test Sms</h3>
          <div>
              <div class="form-group">
                  <label class="form-control-label" jhiTranslate="campaignManagerApp.sms.destination" for="field_destination" [ngbTooltip]="'campaignManagerApp.sms.help.destination' | translate">Destination</label>
                  <input type="text" class="form-control" name="destination" id="field_destination"
                      [(ngModel)]="sms.destination" />
              </div>
              <div class="form-group">
                  <label class="form-control-label" jhiTranslate="campaignManagerApp.sms.shortMsg" for="field_shortMsg" [ngbTooltip]="'campaignManagerApp.sms.help.shortMsg' | translate">Destination</label>
                  <textarea type="text" class="form-control" name="destination" id="field_shortMsg" [(ngModel)]="sms.shortMsg" ></textarea>
              </div>
          </div>
          <div>
              <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                  <fa-icon icon="paper-plane"></fa-icon> <span jhiTranslate="entity.action.submit">Submit</span>
              </button>
          </div>
      </form>

<pre><code>
REQUEST: {{ sms.submitRequestPayload }}

RESPONSE: {{ sms.submitResponsePayload }}
</code></pre>
    </div>
</div>
<button type="submit"
        (click)="previousState()"
        class="btn btn-info">
    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
</button>

<button type="button"
        [routerLink]="['/vas-cloud-configuration', vasCloudConfiguration.id, 'edit']"
        class="btn btn-primary">
    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
</button>
