<div class="row">
    <div class="col-md-3">
        <fa-icon icon="comments" size="5x"></fa-icon>
    </div>
    <div class="col-md-9">
        <h1 class="display-4 text-center" jhiTranslate="home.title">CAMPAIGN MANAGEMENT</h1>
        <p class="lead text-center" jhiTranslate="home.subtitle">ADMINISTRATION PORTAL</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message" translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>
        </div>

        <div class="card">
            <div class="card-header">Features</div>
            <div class="card-body">
                <p>Current workflow of Campaign Management Portal:</p>
                <ul>
                    <li>Broadcast Shortcode</li>
                    <li>Broadcast Contents</li>
                    <li>List of MSISDN: Can be retrieve from 3 sources:
                        <ul>
                            <li>Preload lists uploaded via CSV (re-useable)</li>
                            <li>One-time list uploaded directly during Campaign creation</li>
                            <li>3rd list retrieve from other sources (API / Remote URL / Database...) lookup from IPGW.</li>
                            <li>Mutiple fields place holder support: Content provider may upload CSV field with first row is the header column, then use header as a placeholder for replace in every SMS send out. E.g, if a CSV have a column named msisdn, fullname,
                                credit, then CP may write a message like ‘{{'Hello ${fullname}, your ${msisdn} credit is ${credit}.'}}’, then for each broadcast message, the correspondence value on each field will be replaced into placeholders.</li>
                        </ul>
                    </li>
                    <li>CDR Information: All campaign metadata is recorded for cross checking
                        <ul>
                            <li>Service ID: Which VAS service this campaign target?</li>
                            <li>Content Provider ID: Which content Provider this campaign belongs to?</li>
                            <li>Service Provider ID: Which Service Provider this campaign belongs to?</li>
                            <li>Price: How much does it cost the CP / SP per one this particular message?</li>
                        </ul>
                    </li>
                    <li>Workflow Management metadata:
                        <ul>
                            <li>CreatedBy, CreatedAt: Mark the username and timestamp which this campaign created.</li>
                            <li>ApprovedBy, ApprovedAt: Username and timestamp which this campaign approved.</li>
                            <li>Start DateTime, Expired Date Time: System should only select campaigns which are between run time, e.g StartTime &lt; NOW() &lt; Expired Time.</li>
                            <li>Running Hours: Only run campaign within these window timing. E,g 9,10,14,15 mean the campaign should run only at 9:00-11:00 AM and 14:00-16:00PM. Other hours it should be pause, to let the system idle during peak hours.</li>
                            <li>Running Weekdays: Campaign can be selected to run only on Monday - Saturday, but never on Sunday, for example.
                            <li>Holiday: Forcefully stop all campaign in case current date is National Holiday, as it against the law. MVAS Operator Approve / Reject Pending Campaign At scheduled time, the campaign begin its running. During this stage,
                                        following options are available:
                                        <ul>
                                          <li>Pause / Resume: Let Operator pause the contents during peak hours, and Resume later on. </li>
                                          <li>Terminate: Let operator to Terminate Paused Campaign, and mark it as Done. </li>
                                        </ul></li>
                            <li>During broadcasting, current MSISDN will be check against Do-not-disturb database. If the target number is in DND list, he will be skip. </li>
                            <li>After finish running, the system send report to configured email address to notify campaign results.</li>
                            <li>MVAS operator can view campaign info, download CSV result of Success Delivered messages, or Failed ones to retry (Retry = create new campaign with same content, not to re-upload the failed list on exists content)</li>
                            <li>Wholesales support features: Mobifone Admin can set the quota per Content Provider / Service ID / Service Provider, and use this as a categorize for wholesales biz model. E.g, sell 10000 broadcast messages for SP</li>
                        </ul>
                    </li>
                    <li>Reporting Mechanism:
                      <ul>
                        <li>Per-campaign report: Number of message broadcasted, number of pending messages, number of response from customer in case of interactive campaign, statistic on percentages Customer Care Portal: In case customer complain about receive
                          too many messages, the system is capable of doing customer care portal:</li>
                          <li>Look-up all messages send to one specified MSISDN, or MSISDN + date time range.</li>
                      </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
